<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
>
  <testsuites>
    <testsuite name="Twig Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1" />
    <ini name="xdebug.mode" value="off" />
  </php>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
