<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
>
  <php>
    <env name="LANG" value="en_US.UTF-8" force="true"/>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Twig Intl Extension Test Suite">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
